[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cdgd"]
	path = cdgd
	url = https://github.com/ang-yu/cdgd
	shallow = true
	registered = true
