[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cdgd"]
	path = cdgd
	url = https://github.com/ang-yu/cdgd
[submodule "ria.test"]
	path = ria.test
	url = https://github.com/ang-yu/ria.test
